.lock .body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > .main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* stylelint-disable */

/* stylelint-disable */

/* stylelint-disable */

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */

/* stylelint-disable */

/* stylelint-disable value-keyword-case */

/*====================================================================================================*/

:root {
  /*------------------
      MAIN STYLES 
  ------------------*/
  /* ------- FONTS ------- */
  --main-font: "Montserrat";
  --font-size: 16px;
  /* ---------- COLORS  ---------- */
  --background: #fff;
  --accent: #e8594e;
  --accent-rgb: 232, 89, 78;
  --blue: #73afba;
  --blue-rgb: 115, 175, 186;
  --white: #ffffff;
  --white-rgb: 255, 255, 255;
  --dark: #1c2e3d;
  --dark-rgb: 28, 46, 61;
  --link-after-color: var(--accent);
  --selection-color: var(--accent);
  --selection-background: transparent;
  /* ---------- SIZES ---------- */
  --header-size: 135px;
  --lg: 6rem;
  --md: 2.5rem;
  --min: 0px;
  --top-indent: var(--header-size);
  --index: calc(1vw + 1vh);
  --container-width: 1570;
  --container-padding: 20;
  --container-offset: calc(
      var(--container-width) + var(--container-padding) * 2
  );
  --menu-media-query: 980;
  /*------------------
     PREVIEW STYLES
  ------------------*/
  /* ------- FONTS ------- */
  --preview-font: HelveticaNeue;
  /* ---------- COLORS  ---------- */
  --preview-backgroud-webkit: -webkit-linear-gradient(
      45deg,
      var(--preview-color),
      var(--blue)
  );
  --preview-backgroud: linear-gradient(
      45deg,
      var(--preview-color),
      var(--blue)
  );
  --preview-color: var(--white);
  --preview-color-rgb: 212, 212, 216;
  --preview-color-mobile: var(--white);
  --preview-accent-color: var(--accent);
  --preview-secondary-color: var(--accent);
  --preview-secondary-hover: rgba(var(--accent-rgb), 0.8);
  --preview-secondary-active: rgba(var(--accent-rgb), 0.6);
  --preview-additional-color: #1a1b1f;
  --preview-additional-rgb: 115, 175, 186;
  /* ---------- SIZES ---------- */
  --preview-container-width: 1570;
  --preview-container-padding: 30;
  --preview-container-offset: calc(
      var(--preview-container-width) + var(--preview-container-padding) * 2
  );
}

/*====================================================================================================*/

/* ------- SCSS SELF SELECTOR ------- */

/* ----- Z-INDEX ----- */

/* ---------- BREAKPOINTS ---------- */

/* ---------- DEVICE DEFINITION --------- */

/* ---------- Hover only for PC  ---------- */

/* ---------- COLUMNS ---------- */

.page,
.body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::-moz-selection {
  color: var(--selection-color);
  background-color: var(--selection-background);
}

::selection {
  color: var(--selection-color);
  background-color: var(--selection-background);
}

:focus-visible {
  outline-width: 0.125rem;
  outline-style: solid;
  outline-color: var(--white);
}

.page {
  font-family: var(--main-font, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.body {
  margin: 0;
  min-width: 17.5em;
  font-size: var(--font-size);
  color: #242424;
  background: var(--background);
}

.main {
  width: 100%;
  height: 100%;
}

.container,
[class*=__container] {
  max-width: calc(var(--container-offset) / 16 * 1rem);
  margin: 0 auto;
  padding: 0 calc(var(--container-padding) / 16 * 1rem);
}

[class*=__title],
[class*=-title],
[class*=__subtitle],
[class*=__text],
[class*=-text] {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  font-family: var(--main-font);
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
}

.input-reset {
  font-family: var(--main-font);
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}

.input-reset::-webkit-search-decoration,
.input-reset::-webkit-search-cancel-button,
.input-reset::-webkit-search-results-button,
.input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -0.0625rem;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

/*====================================================================================================*/

.panel-section {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/*====================================================================================================*/

/*====================================================================================================*/

/*====================================================================================================*/

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__container {
  margin: auto;
}

.hero__title {
  font-size: 3.125rem;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(15.625rem);
      -ms-transform: translateY(15.625rem);
          transform: translateY(15.625rem);
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: transform 0.6s, opacity 0.6s;
  transition: transform 0.6s, opacity 0.6s, -webkit-transform 0.6s;
}

.hero__title._watcher-view {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.info {
  padding-block: 6.25rem;
}

.info__title {
  font-size: 2.1875rem;
  font-weight: 600;
  margin-bottom: 3.75rem;
  opacity: 0;
  -webkit-transform: translateX(-12.5rem);
      -ms-transform: translateX(-12.5rem);
          transform: translateX(-12.5rem);
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: transform 0.6s, opacity 0.6s;
  transition: transform 0.6s, opacity 0.6s, -webkit-transform 0.6s;
}

.info__title._watcher-view {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.info__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31.25rem, 43.75rem))[2];
  grid-template-columns: repeat(2, minmax(31.25rem, 43.75rem));
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 3.125rem;
}

.info__text {
  font-size: 1.125rem;
  opacity: 0;
  -webkit-transform: translateY(12.5rem);
      -ms-transform: translateY(12.5rem);
          transform: translateY(12.5rem);
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: transform 0.6s, opacity 0.6s;
  transition: transform 0.6s, opacity 0.6s, -webkit-transform 0.6s;
}

.info__text._watcher-view {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.info__text:nth-child(1) {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.info__text:nth-child(2) {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.info__text:nth-child(3) {
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

/*====================================================================================================*/

.interaction__container {
  max-width: none;
  padding: 0;
  position: relative;
}

.interaction__panel {
  position: absolute;
  bottom: 1.25rem;
  left: 0.625rem;
  color: #12101e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  padding: 0.9375rem;
  border-radius: 0.3125rem;
  background-color: #242424;
  overflow: hidden;
}

.interaction__label {
  color: #dddddd;
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

.interaction__label:not(:last-child) {
  margin-bottom: 0.625rem;
}

.interaction__label:nth-child(n+6) {
  margin-left: 15px;
}

.interaction__label[for=length] {
  display: none;
}

.interaction__input {
  color: #242424;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 600;
  margin-top: 0.3125rem;
  padding: 0.625rem;
  border-radius: 0.1875rem;
  border: none;
  width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #a5a5a5;
  display: inline-block;
}

.interaction__panel-expand {
  position: absolute;
  top: 5px;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  width: min(100%, 24px);
  height: min(100%, 24px);
  background-color: #4b4b4b;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

.interaction__panel-expand svg {
  -webkit-transition: rotate 0.3s;
  transition: rotate 0.3s;
}

.interaction__panel-expand.active svg {
  rotate: 180deg;
}

.interaction__static {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.interaction__expand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 18.125rem;
  width: 100%;
}

.interaction__reset {
  position: absolute;
  right: 15px;
  bottom: 20px;
  margin-left: 0.9375rem;
  width: min(100%, 30px);
  height: min(100%, 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #4b4b4b;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

/*====================================================================================================*/

/*====================================================================================================*/

.preview__page {
  background: var(--preview-backgroud, --preview-backgroud-webkit);
}

.preview {
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  color: var(--preview-color);
  font-family: var(--preview-font);
  overflow: hidden;
  padding: 3.75rem 0 3.125rem;
}

.preview__container {
  text-align: center;
  max-width: calc(var(--preview-container-offset) / 16 * 1rem);
  margin: 0 auto;
  padding: 0 calc(var(--preview-container-padding) / 16 * 1rem);
}

.preview__title {
  font-size: clamp(1.875rem, var(--index) * 3, 8.125rem);
  text-align: right;
  margin-bottom: clamp(1.875rem, var(--index) * 1, 3.125rem);
}

.preview-tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  margin-bottom: 0.9375rem;
}

.preview-tabs__title {
  color: var(--preview-color);
  padding: 0.625rem 0.9375rem;
  outline: none;
  border: 0.0625rem solid var(--preview-color);
  border-width: 0 0 0.0625rem 0;
  background: transparent;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.preview-tabs__title:hover {
  background-color: rgba(var(--preview-color-rgb), 0.2);
}

.preview-tabs__title._tab-active {
  background-color: rgba(var(--preview-color-rgb), 0.2);
}

.preview__inner {
  margin-bottom: clamp(1.875rem, var(--index) * 2, 3.125rem);
}

.preview__slide {
  position: relative;
  display: block;
  width: 37.5rem;
  border-radius: clamp(0.625rem, var(--index) * 1, 1.25rem);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

.preview__slide:not(.preview__slide.swiper-slide-active) {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.preview__slide.swiper-slide-active .preview__name,
.preview__slide.swiper-slide-active .preview__play {
  opacity: 1;
}

.preview__slide::after {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.46)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.46) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.preview__slide .preview__image-ibg {
  overflow: hidden;
  padding-bottom: 48.6376811594%;
}

.preview__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: clamp(1.25rem, var(--index) * 2, 2.5rem);
}

.preview__button {
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: clamp(2.1875rem, var(--index) * 2, 3.125rem);
  height: clamp(2.1875rem, var(--index) * 2, 3.125rem);
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  background: var(--preview-color);
  -webkit-box-shadow: 0 0.625rem 0.625rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.625rem 0.625rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.preview__button:not(:last-child) {
  margin-right: 0.625rem;
}

.preview__button svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: clamp(0.75rem, var(--index) * 0.8, 1rem);
  height: clamp(0.75rem, var(--index) * 0.8, 1rem);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.preview__button:disabled {
  color: #000;
}

.preview__link {
  font-size: clamp(0.875rem, var(--index) * 1.3, 1.125rem);
  color: var(--preview-color);
  display: inline-block;
  padding: 0.8rem 2rem;
  border: 0.0625rem solid var(--preview-color);
  border-radius: 0.3125rem;
  background: transparent;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}

.preview__link::before {
  content: "";
  position: absolute;
  left: 0.3125rem;
  top: 0.3125rem;
  width: 0;
  height: 0;
  border-top: 0.125rem solid var(--preview-color);
  border-left: 0.125rem solid var(--preview-color);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.preview__link::after {
  content: "";
  position: absolute;
  right: 0.3125rem;
  bottom: 0.3125rem;
  width: 0;
  height: 0;
  border-bottom: 0.125rem solid var(--preview-color);
  border-right: 0.125rem solid var(--preview-color);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.preview__image-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 50rem;
  max-height: 29.375rem;
  background-color: transparent;
  position: relative;
  margin: 2.5rem auto;
  /* width */
  /* Track */
  /* Handle */
}

.preview__image-wrapper img {
  width: 100%;
  vertical-align: bottom;
}

.preview__image-wrapper::-webkit-scrollbar {
  width: 0.375rem;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.preview__image-wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.preview__image-wrapper::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: var(--preview-secondary-color);
}

.preview__image-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: var(--preview-secondary-hover);
}

.preview__image-wrapper::-webkit-scrollbar-thumb:active {
  background-color: var(--preview-secondary-active);
}

.preview__image-ibg img {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

/*====================================================================================================*/

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 480px) {
  .preview__slider {
    margin: 0 -28.125rem;
  }
}

@media (max-width: 576px) {
  .preview__title {
    text-align: center;
  }

  .preview-tabs__navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2.5rem;
  }

  .preview__slider {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.875rem;
  }

  .preview__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .preview__link {
    color: var(--preview-color-mobile);
    border: 0.0625rem solid var(--preview-color-mobile);
  }

  .preview__image-wrapper {
    max-height: 21.875rem;
  }
}

@media (min-width: 480px) and (max-width: 576px) {
  .preview__slider {
    margin-bottom: 2.5rem;
  }
}

@media (any-hover: hover) {
  .interaction__panel-expand:hover {
    background-color: #414141;
  }

  .interaction__reset:hover {
    background-color: #414141;
  }

  .preview__button:hover:hover {
    background: transparent;
    border: 0.0625rem solid var(--preview-color);
    -webkit-box-shadow: 0.125rem 0.125rem 0.625rem #e9e9e9;
            box-shadow: 0.125rem 0.125rem 0.625rem #e9e9e9;
  }

  .preview__button:hover:hover span {
    text-shadow: 0 -0.0625rem 0 rgba(0, 0, 0, 0.102);
  }

  .preview__button:hover:hover svg {
    fill: var(--preview-color);
  }

  .preview__link:hover:hover {
    -webkit-box-shadow: 0.25rem 0.25rem 0.625rem #e9e9e9;
            box-shadow: 0.25rem 0.25rem 0.625rem #e9e9e9;
    -webkit-transform: translateY(-0.3125rem);
        -ms-transform: translateY(-0.3125rem);
            transform: translateY(-0.3125rem);
  }

  .preview__link:hover:hover::after,
  .preview__link:hover:hover::before {
    height: 1.25rem;
    width: 1.25rem;
    opacity: 1;
  }
}